*
{
    padding: 0;
    margin: 0;
}
body
{
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
}
.color
{
    background-color: dimgrey;
}
.first
{
    background-color: dimgrey;
}
.br{
    border: oldlace;
}